h1, h2 {
    font-family: sans-serif;
}

.countdown {
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.countdown > div {
    display: inline-block;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 23%;
    height: auto;
    padding: 10px 0;
}

.countdown p {
    margin: 0;
}

.countdown > div > p:first-child {
    font-size: 30px;
}

.countdown > div > p:last-child {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}